body {
    background-image: url(../images/Bangalore-apex-legends-season-5-wallpapers.png);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
    text-align: center;
    color: whitesmoke
}